.vscode
.git
.gitignore
LICENSE
.dockerignore
docker-compose.*
*Dockerfile
.env
*.yml
commands.py
setup.py
*.log
*.code-workspace
*.md
*.pyc
**/__pycache__
.coverage
cov_html
**/tests
**/.pytest_cache
**/webservices